# core    GENRANGE_PEAKMJD 55200 55220 
# pilot   GENRANGE_PEAKMJD 54650 54700 

# you need to set these up in your env before
# calling the sim from the commandline
CRDS_SERVER_URL:
  "https://roman-crds.stsci.edu"

CRDS_PATH:
  "./"

CRDS_CONTEXT:
  "latest"

CAL_SOFTWARE:
  VERSION: latest
  NAME: romancal
  URL: "https://github.com/spacetelscope/romancal"

# This will be used as the starting time of the exposure
OBS_TIME:
  "2026-01-31T00:00:00"

MJD_RANGES:
  60190 60201
  60700 60711

#- 54690 54701  # pilot/templates K25 orig
#- 55200 55211  # core  K25 orig

SEED:
  5346

# note FoV is about 0.8 x 0.4 ~ .281 deg^2
SKY_REGION:
  RA_CEN:     9.5   # degrees
  DEC_CEN:  -44.0
  RADIUS:     0.5
  ROLL:       0.0


STAR_CATALOG:
  GAIA:
    NAME: gaia_catalog.ecsv
  SYN:
    NAME: stars_catalog.ecsv

GALAXY_CATALOG:
    ROMANISIM:  
      NAME: galaxy_catalog.ecsv
  
TRANSIENT_CATALOG:
  SNANA_TRANSIENT_PATH:  transient_models    # sim data folders inside
  SNANA_HOSTLIB_FILE: ROMAN+LSST_DIFFSKY_SMALL.HOSTLIB.gz

#https://github.com/RomanSpaceTelescope/roman-technical-information/blob/v1.2/data/WideFieldInstrument/Imaging/FiltersSummary/filter_parameters.ecsv

WFI_FILTER_PARAMS:
  NAME: filter_parameters.ecsv

BAND_LIST_SOC:
  R: F062
  Z: F087
  Y: F106
  J: F129
  wide: F146
  H: F158
  F: F184
  K: F213
  prism: P127
  grism: G150

BAND_LIST_SNANASIM:
  R: R062-R
  Z: Z087-Z
  Y: Y106-Y
  J: J129-J
  H: H158-H
  F: F184-F
  K: K213-K

BAND_LIST_HOSTLIB:
  R: 'R_obs'
  Z: 'Z_obs'
  Y: 'Y_obs'
  J: 'J_obs'
  H: 'H_obs'
  F: 'F_obs'
  K: 'K_obs'


